.header {
    width: 100vw;
    position: fixed;
    background-color: #1a1a1c;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    color: grey;
    top: 0;
    display: inline-block;
}

h1 {
    size: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.current {
    color: black;
    font-weight: bolder;
}

img {
    height: 10%;
    width: 10%;
    margin: 20px;
}