form {
    width: 100%;
}

input {
    display: block;
    margin: 100px auto;
    font-size: 1rem;
    width: 40%;
    padding: 0p;
}

[type="submit"] {
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 0px;

}

[type="text"] {
    margin-bottom: 3rem;
}

[type="submit"]:not([disabled]) {
    color: white;
    background-color: green;
    cursor: pointer;
}

input[disabled] {
    color: white;
    background-color: lightcoral;
    opacity: 0.4;
    cursor: not-allowed;
}