#results {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    padding-top: 50px;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

#results div {
    width: 40%;
}

#results > .center {
    width: 20%;
}

img {
    max-height: 200px;
}